body {
  padding-bottom: 20px;
  padding-right: 10px;
}

#container {
text-align: center;
height: 100vh;
display: flex;
}

.left {
  flex: 0.20;
}

#gameboard {
  margin: 0 auto;
  background: url('../images/matrix.jpg');
  color: white;
  border: 2px black solid;
  border-radius: 20px;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 15px 15px 15px black;
}
#master {
background-color: black;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
}

h1{
  font-family: 'Bungee Outline', cursive;
  font-size: 3em;
  transition-duration: 1s;
}

h1:hover {
  font-size: 3.3em;
}


.level {
  min-height: 20px;
  max-width: 50px;
  background-color: darkgreen;
  color: white;
  border-radius: 4px;
  border: 2px rgba(165,252,159,1) outset;
  cursor: pointer;
  align-content: center;
  margin: 2px;

}

h2{
  margin-right: 20px;
}

p{
  font-size: 1.1em;
}

.numbers {
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 black, 1px 1px 0 black;
}
#rows {
  flex: 10;
  /*border: 2px red solid;*/
  min-height: 100px;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.5);
}

.row {
  flex: 1;
  min-height: 10px;
  /*border: 1px pink solid;*/
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}


.box {
  flex: 1;
  /*border: 1px pink dotted;*/
  display: flex;
  justify-content: center;
}

.circle {
  background-color: black;
  min-height: 10px;
  height: 100%;
  width: 45%;
  border: 2px gray solid;
  border-radius: 40px;

}
.user-area {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.5);
  border-top: 10px rgba(0,0,0,0.5) solid;
}

.inputs{
  display: flex;
}

.input{
  flex: 1;
  width: 15%;
}

button {
  flex: 2;
  background-color: rgba(165,252,159,1);
  color: black;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  width: 200px;
  align-self: center;
  cursor: pointer;
}

footer{
  font-family: 'Bungee Outline', cursive;
  font-size: 1em;
  transition-duration: 0.5s;
  margin-top: 15px;
}

footer:hover {
  font-family: cursive;
}

footer span:hover {
  color: tomato;
  transition-duration: 0.5s;
}

.correctSpot{
  border : 4px aqua outset;
  transition-duration: 1s;
}

.win-overlay{
  position: fixed;
  top: 5px;
  left: 5px;
  height: 90%;
  width: 100%;
  z-index: 5;
  background-color: rgba(10,100,205,.9);
  color: white;
  font-size: 6em;
  text-align: center;
  padding-top: 100px;
  transition-duration: 1s;
  cursor: pointer;
}
.lose-overlay{
  position: fixed;
  top: 5px;
  left: 5px;
  height: 90%;
  width: 100%;
  z-index: 5;
  background-color: rgba(200,1,50,.9);
  color: white;
  font-size: 6em;
  text-align: center;
  padding-top: 100px;
  transition-duration: 1s;
  cursor: pointer;
}
.easy-overlay{
  position: fixed;
  top: 190px;
  left: 5px;
  height: 12%;
  width: 30%;
  z-index: 2;
  background-color: rgba(0,0,0, 1);
  color: white;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
  padding-top: 1px;
}

#masterbox{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: flex-start;
  padding-left: 5px;
}

#master-revealed{
  padding-left: 5px;
}


.revealed{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1px;
  left: 150px;
  height: 90%;
  width: 70%;
  z-index: 3;
  background-color: rgba(0,0,0,1);
  color: white;
  font-size: 1em;
  border-radius: 15px;
  border: 5px green double;
  padding-top: 10px;
  transition-duration: 1s;
  cursor: pointer;
}

.m-circle{
  background-color: black;
  min-height: 10px;
  height: 10%;
  width: 45%;
  border: 2px gray solid;
  border-radius: 40px;
}

.invisible{
  display: none;
}

.play-again{
  display:block;
  color: white;
  padding: 5px;
  background-color: darkgreen;
  border: 2px rgba(165,252,159,1) outset;
  border-radius: 10px;
  margin-top: 2px;
  cursor: pointer;
}


@media(max-width: 700px){
  h1{
    font-size: 2em;
    margin: 0;
  };

  h1:hover{
    font-size: 1em;
  }

  p {
    margin: 0;
    font-size: .8em;
  }
  #container{
    display: flex;
    flex-direction: column;
  }
  #left {
    display: flex;
    flex-direction: column;
    /*flex: 0.25;*/
    height: 10%;
    margin: 0;
  }

  footer{
    font-size: .75em;
    font-family: cursive;
    color: tomato;
    margin: 0;
  }
  #gameboard{
    height: 120vh;
    width: 100%;
    flex: 3;
  }
  .circle{
    min-height: 30px;
    margin: 2px;
  }

  input {
    min-height:30px;
  }
  .level {
    display: none;
  }

  #enter {
    min-height: 30px;
  }

  .revealed{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1px;
  left: 1px;
  }
  .win-overlay{
    top: 0;
    left: 0;
  }
  .lost-overlay{
    top: 0;
    left: 0;
  }
  .user-area{
    justify-content: flex-end;
  }
}

