body {
  padding-bottom: 20px;
}

#container {
text-align: center;
height: 100vh;
}

#gameboard {
  margin: 0 auto;
  background: url('../images/matrix.jpg');
  color: white;
  border: 2px black solid;
  border-radius: 20px;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 15px 15px 15px black;
}
#master {
background-color: black;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

h1{
  font-family: 'Bungee Outline', cursive;
  font-size: 3em;
  transition-duration: 1s;
}

h1:hover {
  font-size: 3.3em;
}

p{
  font-size: 1.1em;
}

.numbers {
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 black, 1px 1px 0 black;
}
#rows {
  flex: 10;
  /*border: 2px red solid;*/
  min-height: 100px;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.5);
}

.row {
  flex: 1;
  min-height: 10px;
  /*border: 1px pink solid;*/
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}


.box {
  flex: 1;
  /*border: 1px pink dotted;*/
  display: flex;
  justify-content: center;
}

.circle {
  background-color: black;
  min-height: 10px;
  height: 100%;
  width: 45%;
  border: 2px gray solid;
  border-radius: 40px;

}
.user-area {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  border-top: 10px black solid;
}

.inputs{
  display: flex;
}

.input{
  flex: 1;
  width: 15%;
}

button {
  flex: 2;
  background-color: yellow;
  color: black;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  width: 200px;
  align-self: center;
  cursor: pointer;
}

footer{
  font-family: 'Bungee Outline', cursive;
  font-size: 1em;
  transition-duration: 1s;
  margin-top: 15px;
}

footer:hover {
  font-size: 1.5em;
}
